# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment directories
venv/
env/

# Ignore environment variables files
.env
.env.prod

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore version control directories and files
.git/
.gitignore
