name: Linting
on: [pull_request]
jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: astral-sh/ruff-action@v3
        with:
          src: "./backend"
      - uses: astral-sh/ruff-action@v3
        with:
          src: "./frontend"
  mypy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Lint with mypy
        run: |
          uv sync --all-packages
          uv run mypy .
